.header {
  background-color: antiquewhite;
}
.task {
  background-color: rgb(241 245 249);
  padding: 0.3em 0.6em;
  margin-top: 0.6em;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(209 213 219);
  cursor: pointer;
}

.task span {
  font-size: 0.9em;
  font-weight: 400;
}

.task button {
  background-color: aqua;
  padding-left: 5rem;
}